
body{
	margin: 0px;
}

#typo3-inner-docbody p.help {
	font-size: 12px;
	margin-bottom: 10px;
}


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* status report */

h2.section-header {
	margin: 15px 0;
	padding: 2px 0 0 20px;
	cursor: pointer;
	height: 20px;
	clear: left;
}
h2.collapsed {
	background-image:url(../../../../typo3/gfx/arrowright.png);
	background-repeat:no-repeat;
}
h2.expanded {
	background-image:url(../../../../typo3/gfx/arrowdown.png);
	background-repeat:no-repeat;
}
h2.section-header img {
	margin-right:2px;
	vertical-align:bottom;
}

.message-body {
	clear: left;
}

.message-body p {
	padding: 5px 0;
}

.message-body ul {
	padding-top: 5px;
	list-style: disc;
}

.message-body ol {
	padding-top: 5px;
	list-style: decimal;
}

.message-left {
	float: left;
	width: 150px;
}

.message-right {
	float: left;
}

/* Export:
---------------------------------------------------------------------------------------*/
.t3buildFormContainer {
width:100%;
overflow:hidden;
}
.t3buildFormElement {
width:400px;
float:left;
margin-right:20px;
}
.t3buildFormElementRowDivider {
clear:left;
height:10px;
width:100%;
}
.t3buildFormContainer dt {
font-weight:bold;
}
.t3buildFormContainer dd {
margin-bottom:5px;
margin-right:6px;
}
.t3buildFormContainer dd input[type=text] {
width:100%;
border:1px solid #999;
padding:1px;
}
#consoleOutputContainer {
clear:both;
padding-top:10px;
width:820px;
height:300px;
}